<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="logo" alt="Brand" src="app/assets/icons/logo_resized.png">
      </a>
      <a ui-sref="home" class="navbar-brand brand-text">Spotify Task</a>
    </div>
  </div>
</nav>
<br>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Need Music?</h1>
    <p>Use this application to search for your favourite Artists or Albums in Spotify!</p>
    <form class="form-group">
      <input type="text" class="form-control" placeholder="{{homeCtrl.placeholder}}" ng-model="homeCtrl.searchTxt" ng-keyup="homeCtrl.search(homeCtrl.searchTxt)" />
    </form>
  </div>
</div>

<div class="row" ng-if="homeCtrl.searchResults">
  <div class="col-xs-12">
    <div class="well" ng-if="homeCtrl.albumList">
      <h3 class="text-success">Albums</h3>
    </div>
    <div ng-repeat="album in homeCtrl.albumList">
      <a class="col-xs-3 div-thumbnail">
        <img class="img-thumbnail thumbnail" ng-src="{{album.images[1].url}}" />
        <span class="text-primary">{{album.name | limitTo:homeCtrl.stringLimit}}</span>
      </a>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="well" ng-if="homeCtrl.artistList">
      <h3 class="text-success">Artists</h3>
    </div>
    <div ng-repeat="artist in homeCtrl.artistList">
      <a class="col-xs-3 div-thumbnail">
        <img class="img-thumbnail thumbnail" ng-src="{{artist.images[1].url}}" />
        <span class="text-primary">{{artist.name | limitTo:homeCtrl.stringLimit}}</span>
      </a>
    </div>
  </div>
</div>
